{"enexSources":["D:\\My_System\\Inbox\\Enex_Flat\\01_每日收集组__我的剪贴板.enex"],"outputDir":"C:\\Users\\王波\\OneDrive\\my_system\\inbox\\Yarle_Output_Pilot_V4","templateFile":"C:\\Users\\王波\\OneDrive\\my_system\\obsidian_template.md","isMetadataNeeded":true,"skipCreationTime":false,"skipUpdateTime":false,"dateFormat":"YYYY-MM-DD HH:mm:ss","nestedTags":{"separatorInEN":"/","replaceSeparatorWith":"/"},"useHashTags":true}